:root {
    --primaryBackgroundColor: #181619;
    --primaryColor: #f2f3eb;

    --linkColor: #d6cdf0;

    --menuBackgroundColor: #333;
    --menuLinkColor: #888;
    --accentColor: rgb(22, 115, 125);

    --headerHeight: 0px;
    --footerHeight: 100px;
    --mainHeight: 100vh;

    --fontWeight: 200;

    /* We prefer the dark scheme / theme */
    color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {

    :root {
        --primaryBackgroundColor: #181619;
        --primaryColor: #f2f3eb;

        --linkColor: #d6cdf0;

        --menuBackgroundColor: #333;
        --menuLinkColor: #888;
        --accentColor: rgb(22, 115, 125);

        --headerHeight: 0px;
        --footerHeight: 100px;
        --mainHeight: 100vh;

        --fontWeight: 200;
    }
}

@media (prefers-color-scheme: light) {

    :root {
        --primaryBackgroundColor: #f2f3eb;
        --primaryColor: #1d1b18;

        --linkColor: #8d6cf0;


        --menuBackgroundColor: #888;
        --menuLinkColor: #333;
        --accentColor: rgb(20, 103, 112);

        --headerHeight: 0px;
        --footerHeight: 100px;
        --mainHeight: 100vh;

        --fontWeight: 300;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-weight: var(--fontWeight);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: var(--fontWeight);;
}

body {
    width: 100%;
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryColor);

    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
