@media only screen and (prefers-color-scheme: dark) {

    :root {
        /* Global / Theme settings */
        --primaryBackgroundColor: #050505;
        --primaryColor: #f9f9f9;

        --menuBackgroundColor: #333;
        --linkColor: #888;
        --accentColor: rgb(22, 115, 125);

        --headerHeight: 0px;
        --footerHeight: 100px;
        --mainHeight: 100vh;

        --fontWeight: 200;
    }
}

@media only screen and (prefers-color-scheme: light) {

    :root {
        /* Global / Theme settings */
        --primaryBackgroundColor: #f9f9f9;
        --primaryColor: #050505;

        --menuBackgroundColor: #888;
        --linkColor: #333;
        --accentColor: rgb(20, 103, 112);

        --headerHeight: 0px;
        --footerHeight: 100px;
        --mainHeight: 100vh;

        --fontWeight: 300;
    }
}

:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-weight: var(--fontWeight);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: var(--fontWeight);;
}

body {
    width: 100%;
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryColor);

    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
