:root {
    --primaryBackgroundColor: #181619;
    --primaryColor: #f2f3eb;
    --primaryColor: #eef0f0;
    --secondaryColor: #999;
    --accentColor: #e69b00;
    --complementColor: #006696;
    --linkColor: var(--complementColor);

    --menuBackgroundColor: rgba(0, 0, 0, 0.9);
    --menuLinkColor: #888;

    --mainHeight: 100vh;
    --mainMaxWidth: 800px;
    --menuHeight: 50px;
    --menuActiveIndicatorHeight: 2px;
    --menuMaxWidth: 650px;

    --fontWeight: 200;

    /* We prefer the dark scheme / theme */
    color-scheme: dark light;

    --mainBackgroundColor: transparent;
    --contentBackgroundColor: transparent;

    /* DEBUGGING */
    /* --mainBackgroundColor: rgba(52, 70, 150, 0.6); */
    /* --contentBackgroundColor: rgba(173, 37, 167, 0.6); */

}

@media (prefers-color-scheme: dark) {

    :root {
        --primaryBackgroundColor: #181619;
        --primaryColor: #f2f3eb;
        --primaryColor: #eef0f0;
        --secondaryColor: #999;

        --menuBackgroundColor: rgba(0, 0, 0, 0.9);
        --menuLinkColor: #888;

        --fontWeight: 200;
    }
}

@media (prefers-color-scheme: light) {

    :root {
        --primaryBackgroundColor: #eef0f0;
        --primaryColor: #1d1b18;
        --secondaryColor: #777;

        --menuBackgroundColor: rgba(255, 255, 255, 0.9);
        --menuLinkColor: #333;

        --fontWeight: 300;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-weight: var(--fontWeight);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: var(--fontWeight);
}
h1 {
    color: var(--accentColor);
}


body {
    width: 100%;
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryColor);

    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
