.index {
    display: grid;
    place-items: center;
    width: 100%;
}

.index h1 {
    font-size: 110px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.index h2 {
    font-size: 26px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* DEBUGGING */
.index h1, .index h2 {
    transition-property: font-size;
    transition-duration: 400ms;
}

@media only screen and (max-width: 768px) {
    .index h1 {
        font-size: 100px;
    }

    .index h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 700px) {
    .index h1 {
        font-size: 90px;
    }

    .index h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .index h1 {
        font-size: 100px;
    }

    .index h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .index h1 {
        font-size: 60px;
    }

    .index h2 {
        font-size: 15px;
    }
}