.index {
    display: grid;
    place-items: center;
    width: 100%;
}

.index svg {
    display: block;
    margin: auto;
    width: 80%;
    fill: currentColor;
}

.index h1 {
    font-size: 110px;
    font-weight: 100;
    margin: 0;
}

.index h2 {
    font-size: 26px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

/* DEBUGGING */
.index h1, .index h2 {
    transition-property: font-size, width;
    transition-duration: 400ms;
}

@media only screen and (max-width: 768px) {
    .index svg {
        width: 95%;
    }
    .index h1 {
        font-size: 100px;
    }
    .index h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 700px) {
    .index svg {
        width: 95%;
    }
    .index h1 {
        font-size: 80px;
    }
    .index h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .index svg {
        width: 80%;
    }
    .index h1 {
        font-size: 60px;
    }
    .index h2 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 300px) {
    .index h1 {
        font-size: 40px;
    }

    .index h2 {
        font-size: 12px;
    }
}