
.where_we_are {
    position: relative;
    height: 800px;
}

.where_we_are .text {
    z-index: 10;
}

.where_we_are svg {
    z-index: 5;
    width: 40%;
    max-height: 370px;
    display: block;
    margin: auto;
    margin-top: 50px;
    /* background-color: rgba(0,0,0,0.6); */
    /* overflow: visible; */
    transform: perspective(1000px) rotateX(45deg) scaleX(2.0);
    transform-origin: center top;
}