.footer {
    position: fixed;
    top: calc(100vh - var(--footerHeight));
    height: var(--footerHeight);
    width: 100%;
    padding: 30px 500px 30px 200px;
    
    background-color: var(--menuBackgroundColor);
}

.link {
    color: #888;
    text-decoration: none;
    text-transform: uppercase;

    transition-property: border-bottom-color;
    transition-duration: 400ms;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}
.link:hover {
    border-bottom-color: #888;
    transition-duration: 400ms;
}

.activeLink {
    cursor: default;
    transition-duration: 400ms;
    border-bottom-color: rgb(22, 115, 125);
}
.activeLink:hover {
    border-bottom-color: rgb(22, 115, 125);
}

.nav > ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}