.header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding-left: 110px;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: var(--secondaryBackgroundColor);
    height: var(--footerHeight);
}

.logo {
    color: #fff;
    text-decoration: none;
}

.link {
    color: #999;
    text-decoration: none;
    transition-property: color;
    transition-duration: 400ms;
}
.link:hover {
    color: yellow;
    transition-duration: 400ms;
}

.activeLink {
    color: #fff;
    cursor: default;
}
.activeLink:hover {
    color: #fff;
}

.nav > ul {
    list-style: none;
    display: flex;
    margin: 0;
}
.nav > ul > li {
    margin: 0px 10px;
}