.layout {
    display: block;
}

.layout main {
    padding: 30px 500px 30px 200px;
    background-image: url(../images/back.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--mainHeight);
    min-height: 460px;

    display: flex;
    align-items: center;

    margin-top: calc(-1 * var(--footerHeight));
}
