.layout {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
}

.layout .container {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(100vh - var(--menuHeight)) var(--menuHeight);
    grid-template-areas:
        "main"
        "menu"; */
    width: 100%;
    height: 100%;
}

.layout main {
    grid-area: main;
    position: relative;
    width: 100%;

    display: grid;
    align-items: center;
    justify-items: center;

    text-align: justify;

    background-color: var(--mainBackgroundColor);

    /* Debugging */
    transition-duration: 400ms;
    transition-property: padding;
    overflow: auto;
    overflow-x: hidden;
}

/* .layout svg {
    width: 50%;
    right: 100px;
    display: block;
} */

.layout main > div {
    width: 100%;
    max-width: var(--mainMaxWidth);
    padding: 20px 0px 50px 0px;
    background-color: var(--contentBackgroundColor);
    scrollbar-width: none;
}

.layout main > div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media only screen and (max-width: 900px) {

    .layout main {
        padding: 0 5% 0 5%;
    }
}

@media only screen and (max-width: 750px) {

    .layout .container {
        grid-template-rows: 38px 1fr;
        grid-template-areas:
            "menu"
            "main";

        height: 100%;
    }

    .layout main {
        height: 100%;
    }
}
