.layout {
    display: block;
    /* display: grid; */
    /* grid-template-columns: 110px auto 110px;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"; */
}
